<h3 fxLayout="row" fxLayoutAlign="center center"> Flow Detail</h3>
<table>
  <tr>
    <td>Group Id : </td>
    <td>{{flow.groupId}}</td>
  </tr>
  <tr>
    <td>State : </td>
    <td>{{flow.state}}</td>
  </tr>
  <tr>
    <td>Life : </td>
    <td>{{flow.life}}</td>
  </tr>
  <tr>
    <td>Live Type : </td>
    <td>{{flow.liveType}}</td>
  </tr>
  <tr>
    <td>Last Seen : </td>
    <td>{{flow.lastSeen}}</td>

  </tr>
  <tr>
    <td>Packets : </td>
    <td>{{flow.packets}}</td>
  </tr>
  <tr>
    <td>Bytes : </td>
    <td>{{flow.bytes}}</td>
  </tr>
  <tr>
    <td>Id :</td>
    <td>{{flow.id}}</td>
  </tr>
  <tr>
    <td>App Id : </td>
    <td>{{flow.appId}}</td>
  </tr>
  <tr>
    <td>Priority : </td>
    <td>{{flow.priority}}</td>
  </tr>
  <tr>
    <td>Timeout: </td>
    <td>{{flow.timeout}}</td>
  </tr>
  <tr>
    <td>Is Permanent : </td>
    <td>{{flow.isPermanent}}</td>
  </tr>
  <tr>
    <td>Device Id : </td>
    <td>{{flow.deviceId}}</td>
  </tr>
  <tr>
    <td>Table Id : </td>
    <td>{{flow.tableId}}</td>
  </tr>
  <tr>
    <td>Table Name : </td>
    <td>{{flow.tableName}}</td>
  </tr>
</table>