<br />
<div class="row d-flex justify-content-center">
  <label>Device Id</label>
  <div class="col-md-6">
    <select #deviceId class="form-control">
      <option *ngFor="let device of devices" [value]="device.id">{{
        device.id
      }}</option>
    </select>
  </div>
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-info"
      (click)="getFlowsTableStatisticsByDeviceId(deviceId.value)"
    >
      Get Flow Table Statistics
    </button>
  </div>
</div>
<br />
<div class="table-responsive" *ngIf="flowTableStatistics">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Table Id</th>
        <th scope="col">Device Id</th>
        <th scope="col">Active Entries</th>
        <th scope="col">Pockets Looked Up</th>
        <th scope="col">Pocket Matched</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flowTableStatistic of flowTableStatistics">
        <td>{{ flowTableStatistic.tableId }}</td>
        <td>{{ flowTableStatistic.deviceId }}</td>
        <td>{{ flowTableStatistic.activeEntries }}</td>
        <td>{{ flowTableStatistic.packetsLookedUp }}</td>
        <td>{{ flowTableStatistic.packetsMatched }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
