<button
  class="list-group-item list-group-item-action bg-info text-white"
  type="button"
  data-toggle="collapse"
  data-target="#deviceItems"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Cihazlar
</button>
<div class="collapse" id="deviceItems">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      Cihazları listele
    </a>
    <a href="#" class="list-group-item list-group-item-action"
      >Portları listele</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Cihaz detaylarını getir</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Cihaz portlarını listele</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Port durumunu değiştir</a
    >
  </div>
</div>
<button
  class="list-group-item list-group-item-action bg-info text-white"
  type="button"
  data-toggle="collapse"
  data-target="#flowItems"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Flows
</button>

<div class="collapse" id="flowItems">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      Cras justo odio
    </a>
    <a href="#" class="list-group-item list-group-item-action"
      >Dapibus ac facilisis in</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Morbi leo risus</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Porta ac consectetur ac</a
    >
    <a
      href="#"
      class="list-group-item list-group-item-action disabled"
      tabindex="-1"
      aria-disabled="true"
      >Vestibulum at eros</a
    >
  </div>
</div>
<button
  class="list-group-item list-group-item-action bg-info text-white"
  type="button"
  data-toggle="collapse"
  data-target="#statisticItems"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Statistics
</button>

<div class="collapse" id="statisticItems">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      Cras justo odio
    </a>
    <a href="#" class="list-group-item list-group-item-action"
      >Dapibus ac facilisis in</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Morbi leo risus</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Porta ac consectetur ac</a
    >
    <a
      href="#"
      class="list-group-item list-group-item-action disabled"
      tabindex="-1"
      aria-disabled="true"
      >Vestibulum at eros</a
    >
  </div>
</div>
