<h3 fxLayout="row" fxLayoutAlign="center center"> Device Detail</h3>

<table>
  <tr>
    <td>Device Id : </td>
    <td>{{device.id}}</td>
  </tr>
  <tr>
    <td>Type : </td>
    <td>{{device.type}}</td>
  </tr>
  <tr>
    <td>Available : </td>
    <td>{{device.available}}</td>
  </tr>
  <tr>
    <td>Role : </td>
    <td>{{device.role}}</td>
  </tr>
  <tr>
    <td>Mfr : </td>
    <td>{{device.mfr}}</td>

  </tr>
  <tr>
    <td>Hw : </td>
    <td>{{device.hw}}</td>
  </tr>
  <tr>
    <td>Sw : </td>
    <td>{{device.sw}}</td>

  </tr>
  <tr>
    <td>Serial : </td>
    <td>{{device.serial}}</td>
  </tr>
  <tr>
    <td>Driver :</td>
    <td>{{device.driver}}</td>
  </tr>
  <tr>
    <td>Chassis Id : </td>
    <td>{{device.chassisId}}</td>
  </tr>
  <tr>
    <td>Last Update : </td>
    <td>{{device.lastUpdate}}</td>
  </tr>
  <tr>
    <td>Human Readable Last Update : </td>
    <td>{{device.humanReadableLastUpdate}}</td>
  </tr>
  <tr>
    <td>Channel Id: </td>
    <td>{{device.annotations.channelId}}</td>
  </tr>
  <tr>
    <td>Management Address : </td>
    <td>{{device.annotations.managementAddress}}</td>
  </tr>
  <tr>
    <td>Protocol : </td>
    <td>{{device.annotations.protocol}}</td>
  </tr>

</table>