<h3 fxLayout="row" fxLayoutAlign="center center"> Application Detail</h3>

<table>
  <tr>
    <td>App Id : </td>
    <td>{{application.id}}</td>
  </tr>
  <tr>
    <td>Name : </td>
    <td>{{application.name}}</td>
  </tr>
  <tr>
    <td>Version : </td>
    <td>{{application.version}}</td>
  </tr>
  <tr>
    <td>Category : </td>
    <td>{{application.category}}</td>
  </tr>
  <tr>
    <td>Description : </td>
    <td>{{application.description}}</td>

  </tr>
  <tr>
    <td>Readme : </td>
    <td>{{application.readme}}</td>
  </tr>
  <tr>
    <td>Origin : </td>
    <td>{{application.origin}}</td>

  </tr>
  <tr>
    <td>Url : </td>
    <td>{{application.url}}</td>
  </tr>
  <tr>
    <td>Features Repo :</td>
    <td>{{application.featuresRepo}}</td>
  </tr>
  <tr>
    <td>State : </td>
    <td>{{application.state}}</td>
  </tr>
  <tr>
    <td>Features : </td>
    <td>{{application.features}}</td>
  </tr>
  <tr>
    <td>Permissions : </td>
    <td>{{application.permissions}}</td>
  </tr>
  <tr>
    <td>required Apps: </td>
    <td>{{application.requiredApps}}</td>
  </tr>
</table>